*{
	margin:0;
	padding:0;
	border:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	background-color: #F8F8F8;
}


p{
	text-align: justify;
	line-height: 150%;
	position: relative;
}

a{
	text-decoration: none;
	color:#666666;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}


h1{
	text-shadow: 3px 2px 3px #888;
	color: white;
    font-family:'Dancig Script',cursive;
    font-weight: normal;
    font-size: 28px;
}

h1 a{
	text-decoration: none;
	color: white;
}

h1 a:hover{
	text-decoration: none;
}

h2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16pt;
	text-align: center;
}


header{
	padding: 30px;
	background-color: #1E90FF;
	border-radius:5px;
	box-shadow: 2px 2px 3px #666666;
}

aside{
	width: 215px;
	height: 500px;
	margin-top:20px;
	margin-left:10px;
	box-shadow: 2px 2px 3px #666666;
	border-radius:5px;
	position:relative;
	float: left;
	padding: 20px 2px;
	background-color: white;
}

img{
	width: 164px;
	height: 164px;
	border: 1px solid black;
	border-radius: 5px;
}

figcaption{
	left:0;
	top:0;
	height:25px;
	width:100%;
	color:#FFFFFF;
	background-color:rgba(0, 0, 0, .7);
	opacity:0;
	position: absolute;
	border-radius: 5px 5px 0 0;
	-webkit-transition: opacity .4s ease-in-out;
  	-moz-transition: opacity .4s ease-in-out;
  	-o-transition: opacity .4s ease-in-out;
  	transition: opacity .4s ease-in-out;
  	padding-top:5px;
  	text-align: center;
  	filter:alpha(opacity=0);
  	
}

figcaption a{
	color: white;
}

figure:hover figcaption{
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa000000,endColorstr=#aa000000);
}

figure{
	width: 165px;
	height: 165px;
	margin:20px auto 20px auto;
	border-bottom 1px solid #f1f1f1;
	position: relative;
	display: block;
}



/* Estilos do menu de navegação */
nav{
	padding-bottom: 10px;
	color: black;
	background-color: white;
}

nav  a{
	padding: 8px;
	height: 25px;
	border-bottom: 1px solid #F1F1F1;
   	position: relative;
   	display: block;
}


nav p:hover{
	background-color: #1E90FF;
	cursor: pointer;
	color: white;
}

nav a:hover{
	color: white;
}

.icone-menu{
	height: 32px;
    width: 32px;
    margin:3px 5px 0 10px;
    float:left;
    position: relative;
    border: none;
}

.mensagens{
	background: url('../Imagens/Ícones/mensagens.png') no-repeat;
}

.meus-imoveis{
	background: url('../Imagens/Ícones/arquivo-hospedagem.png') no-repeat;
}

.minha-conta{
	background: url('../Imagens/Ícones/usuario.png') no-repeat;
}















section{
	min-height: 465px;
	height:800px;
	width:939px;
	padding: 20px;
	margin:  20px 10px 20px 20px;
	box-shadow: 2px 2px 3px #666666;
	border-radius:5px;
	position:relative;
	float:right;
	background-color: white;
}

/* Estilos do Rodape */
footer{
	box-shadow: 1px 1px 5px #888;
	background:white;
	border-radius: 5px;
	padding: 15px;
	color:#666666;
	clear: both;
}

footer span{
	float: right;
	position: relative;
}

footer a:hover{
	color: black;
	text-shadow: 2px 0px 3px #888;
}

#container{
	margin: 5px;
	padding: 5px;
}

#painel-pequeno{
	min-height: 465px;
	padding: 20px;
	width: 100%;
	margin:20px;
}

