*{
	margin:0;
	padding:0;
	border:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
h1{
	text-shadow: 3px 2px 3px #888;
	color: white;
    font-family:'Dancig Script',cursive;
    font-weight: normal;
    font-size: 28px;
}

header{
	padding: 30px;
	background-color: #1E90FF;
	border-radius:5px;
	box-shadow: 2px 2px 3px #666666;
}

section {
    height: 960px;
    margin-bottom: 200px;
    margin-top: 0;
    padding: 20px;;
}

form {
	height: 660px;
    margin: 18px;
    padding: 20px 20px 30px;
    width: 500px;
}

form input {
    font-size: medium;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 7px;
    width: 442px;
    float: none; 
	border:none;
    border-radius: 4px 4px 4px 4px;
	border: 1px solid gray;
}

label{
	font-weight: bold;
	text-align: center;
	font-weight: bold;
}
/* Estilos do Rodape */
footer{
	box-shadow: 1px 1px 5px #888;
	background:white;
	border-radius: 5px;
	padding: 15px;
	color:#666666;
	
}
footer {
    border: 1px solid gray;
    padding: 15px;
    clear: both;
}

input[type="reset"]{
	width: 80px;
	margin-left: 145px;
	box-shadow: 0px 0px 5px #00CCFF;
	height: 37px;  
}


input[type="submit"]{
	width: 80px;
	margin-left: 5px;
	box-shadow: 0px 0px 5px #00CCFF;
	height: 37px;  
}

input[type="file"]{
    height: 35px;
    margin-left: 20px;
    width: 332px; 
    margin-top: 10px; 
}

#container{
	margin: 5px;
	padding: 5px;
}

#container-Informacao {
    border-radius: 10px;
    height: 780px;
    margin: 40px auto;
    padding: 20px 20px 30px;
    width: 575px;
    float: right;
    background-color: #F5F5F5;	
	box-shadow: 2px 2px 2px #888;
}


div#container-Informacao h3{
	float: right;
	position: relative;
	margin-right:10px;
	font-family: 'Ubuntu', sans-serif;
	color:#666666;
}
.botao{
	text-align: center;
	text-decoration: none;
	font: 14px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	border-radius: 8px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	padding: 8px 20px 8px;
	font-size: 12pt;
}

.botao-azul{
	-webkit-gradient(linear, 0 0%, 0 100%, from(#00ADEE), to(#0078A5));
	background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    border: 1px solid #0076A3;
    color: #D9EEF7;
}

.botao:hover{
	text-decoration: none;
	cursor: pointer;
}

.botao:active{
	position: relative;
	top: 1px;
}

footer span{
	float: right;
	position: relative;
}

footer a:hover{
	color: black;
	text-shadow: 2px 0px 3px #888;
}

   