*{
  margin: 0px;
  padding: 0px;
  border: 0px;
 }
 
body {
	font-family: Arial, "MS Trebuchet", sans-serif;
}

p{
	text-align: justify;
	line-height: 150%;
	font-size: 12pt;	
}

header{
	font-size: 14pt;
	padding: 30px;
	border: 1px solid gray;
}

section{
	
}

article{
	
}

footer{
	padding: 15px;
	border: 1px solid gray;
}

#container{
	margin: 5px;
	padding: 5px;
	
}

.groupBox{
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: px;
	position: absolute;
	left: 25px;
	top: 184px;
	width: 149px;
	height: 105px;
	padding: 20px;
	
}
.fieldset{
	height: 200px;
	width: 500px;
}
aside{
	padding: 15px;
	border: 1px solid gray;	
}
