*{
	margin:0;
	padding:0;
	border:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}


p{
	text-align: justify;
	line-height: 150%;
}

header{
	padding: 1px;
	border: 1px solid gray;
}

section{
	height: 465px;
	padding: 20px;
}

label{
	font-weight: bold;
	text-align: center;
}

input [type="submit"]{
	margin-top: 100px;
	width: 50px;
}

.botao1{
	-webkit-gradient(linear, 0 0%, 0 100%, from(#00ADEE), to(#0078A5));
	background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    border: 1px solid #0076A3;
    color: #D9EEF7;
    border-radius: 8px;
    padding: 8px 32px 9px;
    font-size: 14pt;
}

.botao2{
	-webkit-gradient(linear, 0 0%, 0 100%, from(#00ADEE), to(#0078A5));
	background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    border: 1px solid #0076A3;
    color: #D9EEF7;
    border-radius: 8px;
    padding: 8px 32px 9px;
    font-size: 14pt;
    
}

article{
	
}

footer{
	padding: 15px;
	border: 1px solid gray;
}

#container{
	margin: 5px;
	padding: 5px;
}

/* Estilos do container-imagens */
#container-Imagens{
	width: 675px;
	height: 400px;
	float: left;
	margin-top:30px;
	margin-bottom:10px;
	border: 1px solid gray;
	
}


div#caixa-de-opcao{
	padding: 60px;
	border: 1px solid black;
	background-color: white;
    border-radius: 10px 10px 10px 10px;
    float: right;
    height: 220px;
    margin-top: 58px;
    width: 400px;
}

div#opcao1{
padding: 15px;
border: 1px solid black;
margin-top: 5px;
border-radius: 10px 10px 10px 10px;
}


div#opcao2{
padding: 15px;
border: 1px solid black;
margin-top: 58px;
border-radius: 10px 10px 10px 10px;
}

#formulario form{
	width:300px;
	display:block;
	margin:0 auto;
}
	
#formulario fieldset{
	border:0;
	padding:0 15px 10px 15px;
}