*{
	margin:0;
	padding:0;
	border:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}


p{
	text-align: justify;
	line-height: 150%;
	position: relative;
}
a:hover{
	text-decoration: underline;
}


h1{
	text-shadow: 3px 2px 3px #888;
	color: white;
    font-family:'Dancig Script',cursive;
    font-weight: normal;
    font-size: 28px;
}

h1 a{
	text-decoration: none;
	color: white;
}

h1 a:hover{
	text-decoration: none;
}


header{
	padding: 30px;
	background-color: #1E90FF;
	border-radius:5px;
	box-shadow: 2px 2px 3px #666666;
}

section{
	height: 465px;
	padding: 20px;
}

label{
	font-weight: bold;
	text-align: center;
}

input [type="submit"]{
	margin-top: 100px;
	width: 50px;
}

article{
	
}

footer{
	box-shadow: 1px 1px 5px #888;
	background:white;
	border-radius: 5px;
	padding: 15px;
	color:#666666;
	margin-bottom: 2px;
}

#container{
	margin: 5px;
	padding: 5px;
}

/* Estilos do container-imagens */
#container-Imagens{
	width: 675px;
	height: 400px;
	float: left;
	margin-top:30px;
	margin-bottom:10px;
	border: 1px solid gray;
	
}


div#caixa-de-opcao{
	width: 265px;
	height: 220px;
	float:right;
	margin-top:65px;
	padding:25px;
	background-color: #F5F5F5;;	
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888;
}

div#opcao1{
    margin-left: 16px;
    margin-top: 10px;
    padding: 6px;
}


div#opcao2{
    margin-left: 16px;
    margin-top: 30px;
    padding: 6px;
}

#formulario form{
	width:300px;
	display:block;
	margin:0 auto;
}
	
#formulario fieldset{
	border:0;
	padding:0 15px 10px 15px;
}
.botao{
	text-align: center;
	text-decoration: none;
	font: 14px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	border-radius: 8px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	padding: 8px 20px 8px;
	font-size: 12pt;
}
.botao-azul{
	-webkit-gradient(linear, 0 0%, 0 100%, from(#00ADEE), to(#0078A5));
	background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    border: 1px solid #0076A3;
    color: #D9EEF7;
    margin-left: 80px;
    width: 80px;
    margin-top: 10px;
  
}

.botao:hover{
	text-decoration: none;
	cursor: pointer;
}

.botao:active{
	position: relative;
	top: 1px;
}

/* Estilos do container-slides */
#s3slider{
	width: 675px;
	height: 400px;
	position: relative;
	overflow: hidden;
	float: left;
	margin: 30px auto 10px 10px;
	box-shadow: 2px 2px 4px #888;
	
}

#s3sliderContent{
	width: 675px;
	position: absolute;
	top:0px;
	margin-left: 0px;
}

.s3sliderImage{
	float: left;
	position: relative;
	display: none;
}

.s3sliderImage span{
	position: absolute;
	left: 0;
	padding: 10px 13px;
	width: 675px;
	background-color: #000;
	opacity: 0.8;
	color: #FFFFFF;
	display: none;
	bottom: 0;
}

.clear{
	clear: both;
}

/* Estilos Rodape */
footer span{
	float: right;
	position: relative;
}

footer a:hover{
	color: black;
}

