*{
	margin:0;
	padding:0;
	border:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

p{
	text-align: justify;
	line-height: 150%;
}

header{
	
}

section{
	
}

article{
	
}

footer{
	
}

#container{
	margin: 5px;
	padding: 5px;
}

#formulario form{
	width:300px;
	display:block;
	margin:0 auto;
	}
	
#formulario fieldset{
	border:0;
	padding:0 15px 10px 15px;
}
