	<div id="container_QuemSomos">
		
	  <section>				
		<!-- Início da caixa de Slides, mostra as imagens dos proprietários do site. -->			
		<div id="s3slider">
			<ul id="s3sliderContent">
				<li class="s3sliderImage">
				   <%image_tag "Donos-do-Site/Marilene.jpg"%>						
			       <span>Marilene S.A</span>
		        </li>
		<li class="s3sliderImage">
		  <img  src="Imagens/Elaine.jpg" style="width:350px;height:350px; alt="Elaine"/>
		  <span>Elaine Cristina</span>
		</li>
		<li class="s3sliderImage">
		  <img  src="Imagens/Diego.jpg" style="width:350px;height:350px; alt="Diego"/>
		  <span>Diego Augusto</span>
		</li>
		<li class="s3sliderImage">
			<img  src="Imagens/Silmara.jpg" style="width:350px;height:350px; alt="Silmara"/>
			<span>Silmara Lopes</span>
	    </li>
						
		<div class="clear s3sliderImage"></div>

		</ul>					
	</div>
									
    <div id="container-QuemSomos">		     	
 	<h1 >Quem-Somos</h1>
	<p>		     						    				
		Traveller's House é um site de ofertas de Hospedagem disponíveis no Brasil.<br/> 
		Sua missão é oferecer aos turistas de forma prática e segura opções de hospedagens 
		proporcionado aos mesmo, conforto e segurança em nosso Pais. 
	</p>	
			    				   	
	<h1> Sobre os Proprietários do Site:</h1>
	<p>
   		O site foi desenvolvido por uma equipe composta por 4 alunos do curso de Sistemas de Informação
   		da Universidade Catolica de Minas Gerais. <br>
   		São eles: MEDS <br>
    </p>
   	<ul>
   		<li><a href="http://lattes.cnpq.br/7952495893900774"> Marilene S.A</a></li>
     	<li>Elaine</li>
		<li>Diego</li>
		<li>Silmara</li>
	 </ul>			    	
  </div>
</section>
	

