// Place all the styles related to the QuemSomos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0px;
  padding: 0px;
  border: 0px;
 }
 
body {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 12pt;
}

p{
  text-align: justify;
  line-height: 150%;
  position: relative; 
  margin-top: 15px; 
}

ul{
  margin-left: 30px;
  padding: 10px;
}

a{
  text-decoration: none;
  color:#666666;
}

a:hover{
  text-decoration: underline;
  color: black;
  text-shadow: 2px 0px 3px #888;
}

h1{
  text-shadow: 3px 2px 3px #888;
  color: white;
    font-family:'Dancig Script',cursive;
    font-weight: normal;
    font-size: 28px;
}

h1 a{
  text-decoration: none;
  color: white;
}

h1 a:hover{
  text-decoration: none;
}

header{
  padding: 30px;
  background-color: pink;
  border-radius:5px;
  box-shadow: 2px 2px 3px #666666;
  
}

/* Estilos do Rodape */
footer{
  border-radius: 5px;
  background-color: pink;
  box-shadow: 1px 1px 5px #888; 
  padding: 15px;
  color:#666666;
}
/* Posição do texto */
footer span{
  float: right;
  position: relative;
}
/* Efeito ao se passar o mouse */
footer a:hover{
  color: black;
  text-shadow: 2px 0px 3px #888;
}

#container{
  margin: 5px;
  padding: 5px; 
}

#container-QuemSomos{
  box-shadow: 1px 1px 5px #888;
  border-radius: 10px;
  height: 345px;
  margin: 15px auto;
  padding: 20px 20px 30px;
  width: right; 
  margin-left: 500px;
  
}

/* Estilos do container-slides */
#s3slider{
  width: 477px;
  height: 362px;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 30px auto 10px 10px;
  box-shadow: 2px 2px 4px #888;
  
}


#s3sliderContent{
  width: 675px;
  position: relative;
  top:1px;
  margin-left: 0px;
}

.s3sliderImage{
  float: left;
  position: relative;
  display: none;
}

.s3sliderImage span{
  position: absolute;
  left: 0;
  padding: 10px 13px;
  width: 675px;
  background-color: #000;
  opacity: 0.8;
  color: #FFFFFF;
  display: none;
  bottom: 0;
}

.clear{
  clear: both;
}



