*{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

p{
	text-align: justify;
	line-height: 150%;
}

h1{
	text-shadow: 3px 2px 3px #888;
	color: white;
    font-family:'Dancig Script',cursive;
    font-weight: normal;
    font-size: 28px;
}

h1 a{
	text-decoration: none;
	color: white;
}

h1 a:hover{
	text-decoration: none;
}

header{
	padding: 30px;
	background-color: #1E90FF;
	border-radius:5px;
	box-shadow: 2px 2px 3px #666666;
}

section{
	padding: 20px;
}

/* Estilos do Rodape */
footer{
	box-shadow: 1px 1px 5px #888;
	background:white;
	border-radius: 5px;
	padding: 15px;
	color:#666666;
	
}

footer span{
	float: right;
	position: relative;
}

footer a:hover{
	color: black;
	text-shadow: 2px 0px 3px #888;
}



label{
	font-weight: bold;
}

input{
	border: 1px solid gray;
	
}

#container{
	margin: 5px;
	padding: 5px;
}

form {
    background-color: #F5F5F5;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px #888888;
    float: none;
    height: 545px;
    margin: 40px auto;
    padding: 20px 20px 30px;
    width: 575px;
    margin-top: 100px;
}
	
fieldset{
	border: 1px solid blue;
    border-radius: 5px 5px 5px 5px;
    height: 460px;
    margin: 20px;
    padding: 20px 20px 30px 20px;
    width: 500px;	
}

#container{
	margin: 5px;
	padding: 5px;
}

form input {
	border: 1px solid black;
	font-size: medium;
	margin-bottom: 20px;
	margin-top: 5px;
	padding: 5px;
	width: 489px;
}

textarea{
    max-height: 150px;
    max-width: 500px;
    min-height: 150px;
    min-width: 500px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

label{
	font-weight: bold;
}

input[type="submit"]{
	width: 80px;
	margin-left: 200px;
	box-shadow: 0px 0px 5px #00CCFF;
	height: 37px;  
}

.botao-azul{
	-webkit-gradient(linear, 0 0%, 0 100%, from(#00ADEE), to(#0078A5));
	background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    border: 1px solid #0076A3;
    color: #D9EEF7;
}

